<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <!-- <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="text-white font-tertiary">{{.Title}}</h3>
      </div>
    </div>
  </div>
  background shapes -->
  <img src="{{`images/Wp2.jpg`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">

</section>
<!-- /page title -->
