
.blog p , .blog ul li{
  font-size: 1.2rem;
}

 .blog p img {
  max-width: 100%;
}

.layer {
  position: absolute;
  z-index: 1;
}
.bg-primary {
  background: rgba(28,100,112,1);
  background: radial-gradient(circle, rgba(7,25,29,1) 0%, rgba(13,55,63,1) 19%, rgba(28,100,112,1) 26%, rgba(28,100,112,1) 29%, rgba(28,100,112,1) 35%, rgba(16,61,68,1) 52%, rgba(8,37,42,1) 67%, rgba(6,49,56,1) 100%);
}


.show {
  opacity: 1 !important;
}

#introVideoFade {
  opacity: 0;
  animation:  introVideoFade-fadeIn 1s normal 500ms;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes introVideoFade-fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


.fade-in-transition{
  opacity: 0;

}

#l1 {
  top: 0;
}

#l2 {
  top: -10%;
  left: 0%;
}

#l2 img {
  width: 90%;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l3 img {
  width: 75%
}


#l4 {
  top: 200px;
  right: 40%;
}

#l4 img {
  width: 200%
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  position: absolute;
  top:  calc(50% - 256px);
  left: calc(50% - 256px);
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}
.hidemefirst {
  opacity: 0;
}
.animCard {
  animation: slide-top-card .3s;

}



@keyframes slide-top-card {
  0% {
    transform: translateY(100px);

  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes stars-fadeIn {
	0% {
		opacity: 0;
  }
  1%{
		transform: translateY(-100px) rotateX(-30deg) scale(0.1);
    transform-origin: 50% 100%;
    opacity: 0;
  }
	100% {
		transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
		opacity: 1;
	}

}

@keyframes slide-in-elliptic-top-fwd {
	0% {
		transform: translateY(-1000px) rotateX(-30deg) scale(0.1);
		transform-origin: 50% 100%;
		opacity: 0
	}
	100% {
		transform: translateY(0) rotateX(0) scale(1);
		transform-origin: 50% 1400px;
		opacity: 1
	}
}

@keyframes slide-top{
	0%{
		transform:translateY(100px);
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100%{
		transform:translateY(0px);
		opacity: 1;
	}
}


@keyframes slide-top2{
	0%{
		transform:translateY(100px);
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100%{
		transform:translateY(0px);
		opacity: 1;
	}
}

.cIntro {

  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#introVideo {
  z-index: 999;
  width: 100%;
  animation-duration: 1s;
  animation-name: slide-in-elliptic-top-fwd;
}
#introSP {
  z-index: 999;
  width: 100%;
  animation-duration: 1s;
  animation-name: slide-in-elliptic-top-fwd;
  color: white;
  
}
.intro-gradient-darker {
  background: radial-gradient(circle,rgba(0,26,31,0.6) 90%,rgb(0,47,61) 100%),
            linear-gradient(0deg,rgb(0, 26, 31) 0%,rgba(0,26,31,0) 40%,rgba(0,26,31,0) 70%,rgb(0, 26, 31) 100%);
  height: 100vh;
  width: 100vw;
  top: 0;
  
}

.intro-gradient {
  background: radial-gradient(circle,rgba(0,26,31,0) 90%,rgb(0,47,61) 100%),
            linear-gradient(0deg,rgb(0, 26, 31) 0%,rgba(0,26,31,0) 40%,rgba(0,26,31,0) 70%,rgb(0, 26, 31) 100%);
  height: 100vh;
  width: 100vw;
  top: 0;
  
}

.intro {
  z-index: 999;
  background:white;
  padding: 1rem;
  color: #333;
  text-align: center;
  box-shadow: 0 5px 5px #0000009e;

}
#introH2  {
  z-index: 999;
  line-height: 2;
  box-shadow: 0 5px 5px #0000009e;

  color: #333;
  text-align: center;
  background:white;
  padding: 1rem;
  font-size: 2rem;
  animation: animate__backInDown 2s;
  font-size: 1.2rem;
}

#introH3{
  box-shadow: 0 5px 5px #0000009e;
  animation: animate__backInDown 3s;
}

body {
  line-height: 1.2;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c
  
}

p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.2
}

h1,
.h1 {
  font-size: 80px
}

@media(max-width:991px) {

  h1,
  .h1 {
    font-size: 65px
  }
}

h2,
.h2 {
  font-size: 60px
}

@media(max-width:991px) {

  h2,
  .h2 {
    font-size: 50px
  }
}

h3,
.h3 {
  font-size: 40px
}

h4,
.h4 {
  font-size: 22px
}

h5,
.h5 {
  font-size: 18px
}

h6,
.h6 {
  font-size: 14px
}

.btn {
  font-size: 22px;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease
}

.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.btn:active {
  box-shadow: none
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px
}

.btn-primary {
  background: #41228e;
  color: #fff
}

.btn-primary:active {
  background: #542cb7 !important
}

.btn-primary:hover {
  background: #542cb7
}

.btn-primary.focus,
.btn-primary.active {
  background: #542cb7 !important;
  box-shadow: none !important
}

.btn-transparent {
  background: transparent;
  color: #41228e;
  font-weight: 700
}

.btn-transparent:active,
.btn-transparent:hover {
  color: #41228e
}

body {
  background-color: #fff;
  overflow-x: hidden
}

::selection {
  background: #542cb7;
  color: #fff
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center
}

ol,
ul {
  list-style-type: none;
  margin: 0
}

img {
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-dark:hover {
  color: #41228e !important
}

a:hover {
  color: #41228e
}

.slick-slide {
  outline: 0
}

.section {
  padding-top: 40px;
  padding-bottom: 40px
}

.section-title {
  margin-bottom: 80px;
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}



.bg-gray {
  background: #eaeaea !important
}

.text-primary {
  color: #41228e !important
}

.text-color {
  color: #4c4c4c
}

.text-dark {
  color: #000 !important
}

.text-light {
  color: #999 !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mb-90 {
  margin-bottom: 90px !important
}

.mb-100 {
  margin-bottom: 100px !important
}

.zindex-1 {
  z-index: 1
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34)
}

.bg-dark {
  background-color: #222 !important
}

.icon {
  font-size: 45px
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.icon-light {
  color: #c8d5ef
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0;
}
.btn-download {
  background:#FF9800;
  color:white;
  margin-top: 2rem;
  box-shadow: 0px 4px 4px#0000001f;
}

.btn-download-shake {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shadow:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
}
.card-title {
  margin-top: 1rem;
}
.card-header {
  border: 0
}

.card-footer {
  border: 0;
  margin-bottom: 2rem;
}

.navigation nav {
  max-width: 1000px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 40px 130px;
  transition: .3s ease
}

.navigation.nav-bg {
  background-color: #222;
  padding: 15px 100px
}

@media(max-width:991px) {
  .navigation.nav-bg {
    padding: 15px 20px
  }
}

@media(max-width:991px) {
  .navigation {
    padding: 20px;
    background: #1C6470
  }
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  padding: 15px
}

.navbar .nav-item.active {
  font-weight: 700
}

.navbar-brand img {
  width: 218px;

}

.navbar-dark .navbar-nav .nav-link {
  color: #fff
}

.hero-area {
  padding: 250px 0 200px;
  position: relative;
  height:100vh;
}

@media(max-width:767px) {
  .hero-area {
    padding: 200px 0 150px;
    overflow: hidden
  }
}

.hero-area h1 {
  position: relative;
  z-index: 2
}


.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  top: 0;
  height: 100vh;
}

.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, .9);
  transform: translateX(-50%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg)
  }

  100% {
    transform: translateX(-50%) rotate(360deg)
  }
}

.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: #41228e
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: #41228e
}

.active-bg-primary * {
  color: #fff
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}

.testimonial-content strong {
  color: #2bfdff;
  font-weight: 400
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px
}

.footer-section {
  padding-top: 20px
}

.section-on-footer {
  margin-bottom: -250px
}

.shadow-down {
  position: relative
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.card-lg {
  flex-direction: row-reverse;
  align-items: center
}

@media(max-width:991px) {
  .card-lg {
    flex-direction: column
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #41228e;
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px
}

.content strong {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.page-title-alt {
  padding: 350px 0 70px
}

.border-thick {
  border: 10px solid
}

.drag-lg-top {
  margin-top: -230px
}

@media(max-width:991px) {
  .drag-lg-top {
    margin-top: 0
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg)
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px
}

.page-title {
  padding: 250px 0 150px
}

.page-title .container {
  position: relative;
  z-index: 1
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg)
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px
}

.filter-controls li {
  cursor: pointer
}

.filter-controls li.active {
  font-weight: 700
}