{{ define "main" }}
      <!-- hero area -->
      <section class="hero-area bg-primary overflow-hidden" id="parallax" style="background-color: rgba(28,100,112,1);">
        <img class=" layer-bg  w-100" src="{{`images/Wp2.jpg` | relURL}}" alt="bg-shape">
    <div class="intro-gradient-wrapper">
    <video class="layer-bg w-100" id="introVideoFade" autoplay="" muted="" loop="" >
      <source src="{{`videos/preview.mp4`|relURL}}" type="video/mp4">
    </video>  
    <div class="intro-gradient-darker w-100 layer-bg ">
    </div>
  </div>
        <div class="container">
        <div class="row">
          <div class="col-lg-11 mx-auto">
            <div class="cIntro">
              <h3 class=" intro intro1 ">Make your desktop your own!</h3>
              <h4 class=" intro intro2  " >Create your own interactive Wallpaper and Widgets, or browse the vast Steam Workshop!</h4>
              <a  href="https://forum.screen-play.app/topic/2/we-are-open-for-alpha-testing-via-steam" id="" class="btn intro3 btn-download">Download ScreenPlay via Steam!</a>
            </div>
          </div>
        </div>
      </div>
      <script>
        const intro1 = document.querySelector('.intro1');
        const intro2 = document.querySelector('.intro2');
        const intro3 = document.querySelector('.intro3');
        const intro_gradient = document.querySelector('.intro-gradient');

        intro1.addEventListener('animationend', () => {
          setTimeout(function () { intro1.classList.add('animate__fadeOutDown'); }, 5000);
        });

        intro2.addEventListener('animationend', () => {
          setTimeout(function () { intro2.classList.add('animate__animated', 'animate__fadeOutDown'); }, 4600);
          setTimeout(function () { 
            intro_gradient.classList.remove('intro_gradient-darker');
            intro_gradient.classList.add('intro_gradient');
             }, 2600);
             setTimeout(function () { 
            intro3.classList.remove('animate__fadeInDown');
            intro3.classList.add('animate__animated', 'animate__headShake', 'animate__repeat-2'); }, 6000);

        });

        
        intro1.classList.add('animate__animated', 'animate__fadeInDown');
        intro2.classList.add('animate__animated', 'animate__fadeInDown');
        intro3.classList.add('animate__animated', 'animate__fadeInDown');

      </script>
    <!--
    <div class="layer" id="l8">
      <img src="{{`images/illustrations/stars.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
      <img src="{{`images/illustrations/stars.png` | relURL}}" alt="bg-shape">
    </div>
    social icon

    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range .Site.Data.homepage.banner.socialLinks }}
      <li class="mb-3"><a class="text-white" href="{{.URL}}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>     -->
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with .Site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ with .button }}
          <a href="{{ .URL | absURL }}" id="" class="btn btn-download">{{.btnText}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}


  {{ if .Site.Data.homepage.skill.enable }}
  <!-- skills -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">ScreenPlay Features:</h2>
        </div>
        {{ range .Site.Data.homepage.skill.skillbar }}
        <div class="animCard hidemefirst col-lg-3 col-sm-6 mb-4">
          <div class="card shadow text-center">
            <div class="position-relative rounded-top progress-wrapper" >
              <h4 class="card-title">{{.title }} </h4>
            </div>
            <div class="card-footer ">
              <span>{{.text}}</span>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /skills -->
  {{ end }}

  {{ if .Site.Data.homepage.experience.enable }}
  <!-- experience -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Experience</h2>
        </div>
        {{ range .Site.Data.homepage.experience.item }}
        <div class="col-lg-3 col-md-4 text-center">
          <img src="{{.logo}}" alt="icon">
          <p class="mb-0">{{.duration}}</p>
          <h4>{{.title }}</h4>
          <h6 class="text-light">{{.company }}</h6>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- ./experience -->
  {{ end }}

  {{ if .Site.Data.homepage.education.enable }}
  <!-- education -->
  <section class="section position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Latest Releases:</h2>
        </div>
        {{ range .Site.Data.homepage.education.item }}
        <div class="col-lg-6 col-md-6 mb-80">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <i class="ti-angle-double-up icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
            </div>
            <div>
              <p class="text-dark mb-1">{{.year}}</p>
              <h4>{{ .title }}</h4>
              <a href="{{.link}}" class="mb-0 text-light">View Release Notes</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <!-- bg image -->
    <img class="img-fluid edu-bg-image w-100" src="{{`images/backgrounds/education-bg.png`|relURL}}" alt="bg-image">
  </section>
    
    <h5 class="text-center">ScreenPlay has been in active development since early 2017 by <a href="https://twitter.com/Kelteseth">Elias Steurer</a>. Anyone can contribute via <a href="https://gitlab.com/kelteseth/screenplay">Gitlab</a>. See <a href="https://gitlab.com/kelteseth/ScreenPlay/-/releases">all releases.</a></h5>
  <!-- /education -->
  {{ end }}


  {{ if .Site.Data.homepage.service.enable }}
  <!-- services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Features</h2>
        </div>
        {{ range .Site.Data.homepage.service.item }}
        <div class="col-md-4 mb-4">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <i class="{{.icon }} icon mb-5 d-inline-block"></i>
              <h4 class="mb-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}

  {{ if .Site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Latest blog posts:</h2>
        </div>
        {{ range ( where site.RegularPages "Section" "blog" | first 3 )  }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
          <img class="rounded card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb"> 
            <div class="card-body">
              <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
              </h4>
              <p class="cars-text">{{.Summary}}</p>
              <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}


  {{ if .Site.Data.homepage.portfolio.enable }}
   <!--portfolio -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Workshop content</h2>
        </div>
      </div>
      <div class="row shuffle-wrapper">
        {{ range .Site.Data.homepage.portfolio.item }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .projectURL }}">view project</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <div   style="display: flex; justify-content: center; align-items: center; margin: 20px 0 80px 0;">
    <a href="https://forum.screen-play.app/topic/2/we-are-open-for-alpha-testing-via-steam" id="" class="btn btn-download">Why are you still scrolling? Download ScreenPlay now!</a>
  </div>
  <!-- /portfolio -->
  {{ end }}


  {{ if .Site.Data.homepage.testimonial.enable }}
  <!-- testimonial -->
  <section class="section bg-primary position-relative testimonial-bg-shapes">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title text-white mb-5">Testimonials</h2>
        </div>
        <div class="col-lg-10 mx-auto testimonial-slider">
          {{ range .Site.Data.homepage.testimonial.item }}
          <!-- slider-item -->
          <div class="text-center testimonial-content">
            <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
            <p class="text-white mb-4">{{.content | markdownify}}</p>
            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{.image | absURL }}" alt="client-image">
            <h4 class="text-white">{{.name }}</h4>
            <h6 class="text-light mb-4">{{ .designation }}</h6>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <!-- bg shapes -->
    <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map">
    <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1">
    <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2">
    <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3">
    <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4">
    <img src="{{`images/illustrations/leaf-cyan.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5">
  </section>
  <!-- /testimonial -->
  {{ end }}


  {{ if .Site.Data.homepage.clientSlider.enable }}
  <!-- client logo slider -->
  <section class="section pb-0">
    <div class="container">
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /client logo slider -->
  {{ end }}


{{ end }}
