{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ">
          <h3 class="font-tertiary mb-5">{{.Title}}</h3>
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span class="text-primary">{{.Params.Author}}</span></p>
          <div class="content blog">
            <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
            <div class="sp-intro  ">
              <br><br>
            <p class="text-center font-weight-light sp-intro-text">
              ScreenPlay is an Open-Source Live Wallpaper and Widgets app for Windows (and soon Linux & MacOSX) written in modern C++/Qt/QML and is in active development since early 2017 on <a href="https://gitlab.com/kelteseth/ScreenPlay">Gitlab</a>.
            </p>
            <br><br><br><br>
          </div>
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}